@media print{
    @page{
        size: landscape;
    }
    td{
        border: 1px solid black;
        padding: 0 1%;
    }
    .pending-order{
        justify-content: start;
        display: flex;
        flex-flow: column;
    }
    table{
        width: 95%;
    }
}
.btn-bitbucket {
    color: #fff;
    background-color: #205081;
    border-color: rgba(0,0,0,0.2);
    height: 100%;
    border-radius: 5px;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
td{
    border: 1px solid black;
    padding: 0 5px;
    font-size: 10px;
}
td:nth-child(1) label {
    width: 130px;
}
td:nth-child(2) label {
    width: 130px;
}
table{
    width: 100%;
}
.pending-order{
    padding-bottom: 2%;
}
.content-title{
    padding: 2%;
}
.p-cars-pending{
    padding: 1% 0;
    background-color: #e28e2561;
    margin: 3% 0;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 1px #f39c2f;
}

@media screen and (max-width: 600px) {
    .t-load-order td:nth-child(3), .t-load-order th:nth-child(3),
    .t-load-order td:nth-child(5), .t-load-order th:nth-child(5) {
        display: none;
    }
}
